:root {
  --canvas-Background: #181818;
  --black: #020006;
  --yellow: #ffd239;
  --orange: #f28705;
  --orange-shadow: #f25c05;
  --orange-border: #d93d04;
  --red-orange: #fc4235;
  --white: #ffffff;
  --green: #014017;
  --font-size: 15px;
}

/* *{
  border: 1px red solid;
} */

body {
  background-color: var(--canvas-Background);
  display: grid;
  height: 100vh;
  margin: 0 auto;
  place-items: center center;
}
/********** Door *********/
.door {
  font-size: var(--font-size);
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 2em 2em 0 2em;
  width: max-content;
  height: 45em;
  z-index: 0;

  background-image: url("door.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/********* Pumpkin Container  *********/
.pumpkinSize {
  z-index: 1;
  position: relative;
  width: 14em;
  height: 12em;
}
/* Pumpkin body shape  */
.pumpkinBody {
  position: relative;
  display: flex;
  justify-content: center;
  width: inherit;
  height: inherit;
  background-color: var(--orange);
  border-radius: 13.875em;
  /* Sides of pumpkin in shadow  */
  box-shadow: -1.875em 0 var(--orange-shadow), 1.875em 0 var(--orange-shadow);
}
/********* Pumpkin Eyes *********/
.pumpkinEye {
  display: block;
  position: relative;
  top: 2em;
  /* triangles */
  width: 0;
  height: 0;
  border-left: 2.5em solid transparent;
  border-right: 2.5em solid transparent;
  border-bottom: 5em solid var(--black);
  /* Eye Pupil Shapes */
  &::before {
    content: "";
    position: absolute;
    transform: translateY(-15%);
    top: 2.5em;
    right: -1.5em;

    width: 0;
    height: 0;
    border-left: 1.25em solid transparent;
    border-right: 1.25em solid transparent;
    border-bottom: 2.5em solid var(--white);
  }
  /* Cheek shapes */
  &::after {
    content: "";
    position: absolute;
    top: 2.25em;
    right: 1em;

    width: 4.6875em;
    height: 4.6875em;
    border-radius: 50%;
    background-color: var(--orange);
  }
}
.eyeSpread {
  /* Gap between eyes */
  margin-left: 1em;
  /* Gap between cheeks  */
  transform: scaleX(-1);
}

/********* Pumpkin Stem  *********/
.pumpkinStem {
  background-color: var(--green);
  position: absolute;
  top: -3em;
  right: 6em;

  width: 1.5em;
  height: 3em;
  /* Stem Tip End  */
  &::before {
    content: "";
    background-color: var(--green);
    position: absolute;
    bottom: 2.5em;
    right: 0em;

    width: 1.5em;
    height: 1.5em;
    border-radius: 40%;
  }
}

.pumpkinLeaf {
  background-color: var(--green);
  z-index: 13;
  transform: rotate(155deg);
  position: absolute;
  top: -4em;
  left: 5.1em;

  width: 1em;
  height: 2.5em;
  border-radius: 0 1em;
}

/********** Pumpkin Mouth  **********/
.pumpkinMouth {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Center Triangle  */
  width: 0;
  height: 0;
  border-left: 1.25em solid transparent;
  border-right: 1.25em solid transparent;
  border-bottom: 2.5em solid var(--black);
}
.teethRight {
  position: absolute;
  z-index: 15;
  top: -0.5em;
  left: 1em;
  display: flex;
  justify-content: center;

  width: 0;
  height: 0;
  border-left: 1.25em solid transparent;
  border-right: 1.25em solid transparent;
  border-top: 2.5em solid var(--black);
}
.teethLeft {
  position: relative;
  display: flex;
  justify-content: center;
  top: 0.8em;
  left: -3.75em;

  width: 0;
  height: 0;
  border-left: 1.25em solid transparent;
  border-right: 1.25em solid transparent;
  border-top: 2.5em solid var(--black);
}
